.header{ font-family: 'Sigmar One', cursive;
	font-size: 85px;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

#head {
	border: 1px solid red;
	border-radius: 30px 30px;
}

.toot {
	font-family: 'Sigmar One', cursive;
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 2px #ff0000;

}

.numeroUno{
		border: 1px solid red;
	border-radius: 30px 30px;
	height: 400px;
	margin-top: 20px;
}

.numeroDos{
		border: 1px solid red;
	border-radius: 30px 30px;
	height: 600px;
	margin-top: 20px;

	
}

.destination{
		font-family: 'Sigmar One', cursive;
	font-size: 40px;

	text-shadow: 2px 2px #ff0000;

}
.table {
	margin-top: 10%;
	margin-left: 10%;
}

.form-control{
	width: 80%;
	;
}